/*Google Font*/
body {
	font-family: 'Open Sans', sans-serif;

}

/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*All HTML elements have default values for their "margin" and "padding" properties. Giving them the value of "0" make it easier for us to manipulate the size and positioning of elements*/

nav {
	/*Short hand property:  Apply padding on all sides*/
	padding: 0.8rem;
	/*creates space between the nav and the intro section*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*Selector Combinator:  Type_Selector Class_Selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

/*We have used descendant selector*/
#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	margin-top: 2rem;
}
/*The selector used is a descendant selector even though there is only one button in the page. This is appropriate as it helps in the code readability telling the developer that the button is located in the intro section.*/

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info .card {
	/*Inline-block allows the card to appear beside each other*/
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	
	display: table;
	width: 100%;
	background-color: #002540;
}

#pre-footer h3 {
	margin-bottom: 0.5rem;
}

#pre-footer div {
	color: white;
	display: table-cell;
	vertical-align: bottom;
	min-height: 175px;
	width: 25%;
	padding: 2rem;
}

footer {
	padding: 0.7rem;

}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}