/*
CSS Rules
Syntax:  ;
selector {
	property:  value;
}
*/
/*h1 {
	color: yellow !important;
}*/

/*1. Universal Selector (Lowest)*/
/*- Change the font of every element in HTML*/

* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}
/*The "*" symbol is a "universal selector" and is used to targel ALL elements/
/*The "font-family" property changes the style of the font*/
/*The value "Courier New" is used as the primary font and the value "monospace" is used as a secondary font when a browser is unable to use the primary font*/
/*The value "20px" refers to 20 pixels in size*/

/*2. Type Selector*/
body {
	background-color: skyblue;
}
/*The "background-color" property changes the background color of an element*/

/* Attribute Selector */
/*Attribute selector only works based on the exact attributes syntax provided in the HTML tag*/
/*It's also case sensitive*/
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}
/* Class Selector */
/*The "class attribute" is used to target elements with a similar styling. This is a good approach to use for elements that have similar styles across the whole application*/
.offering-item {
	text-transform: uppercase;
}

/*5. ID Selector*/
#zuitt-motto {
	letter-spacing: 5px;
}
/* The "id" attributes is used to target elements with unique styling.*/



/*CSS Selector Combinators*/

/*Adjacent Sibling Selector
Syntax: a
	sibling_element + target_element {
	
	}

*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*General Sibling Selector
Syntax: 
	sibling_element ~ target_element {
	
	}
*/
h2 ~ a, 
a{
	text-decoration: none;
}
/*Child Selector
Syntax: 
	selector1 > selector2 {
	style:  properties;
	}

*/
body > section > form > label {
	color: rgb(0,0,128);
}
/*Descendant Selectors
Syntax: 
	selector1 > selector2 {
	style:  properties;
	}
*/
#bootcamp-learning-list li{
	color:  #075966;
}
/*Whole HTML*/
html {
	scroll-behavior: smooth;
}
/*Navigation Bar*/
nav {
	background-color: white;
}
/*Selector:  Hover Pseudo Class*/
a:hover {
	background-color: #b4d6de;
}

/*DIV for the navigation Bar*/
div {
	display: inline-block;
	float: right;
}

/*Landing Section & Form Section*/
section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}
/*Remove numbers from list*/
ol {
	list-style-type: none;
}
/*Register Section/Form*/
form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}